/*
Public
*/

.announcement {
    background-color: rgb(4, 48, 14);
    color: white;
    margin: 3px;
    padding: 7px 20px;
    text-align: center;
    float: left;
    width: 100%;
}

.announcement-container {
    width: 78%;
}

.close-announcement {
    float: right;
    padding: 0px 4px;
    background-color: rgb(4, 100, 114);
}

/*
Private
*/
#new-announcement {
    text-align: right;
    margin-bottom: 7px;
}

.announcement-edit-btn, .announcement-delete-btn {
    margin: 3px;
}

.announcement-msg-column {
    width: 50%;
}
