{% extends "admin/base.html" %}

{% set messages = h.get_announcements() %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/css/announcement.css" />
{% endblock %}

{% block primary_content_inner %}
<h2>{{ _('Announcements to all users') }}</h2>

<div id="new-announcement">
<a
    href="#system-message-new"
    role="button"
    class="btn btn-primary"
    title="Schedule new message"
    data-toggle="modal"
    data-target="#system-message-new"
  >Schedule new message</a>
</div>

<div id="announcement-table">
<table id="system-messages-list" class="table table-header table-hover table-bordered table-responsive">
  <thead>
    <tr>
      <th class="announcement-msg-column">Message</th>
      <th>From</th>
      <th>To</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for message in messages %}
    <tr>
      <td>{{ message.message }}</td>
      <td>{{ h.render_datetime(message.from_date, with_hours=True) }}</td>
      <td>{{ h.render_datetime(message.to_date, with_hours=True) }}</td>
      <td>
        <a href="#system-message-edit-{{ message.id }}" role="button" class="btn btn-info announcement-edit-btn" title="edit"   data-toggle="modal" data-target="#system-message-edit-{{ message.id }}">
          <i class="fa fa-edit"></i>
        </a>
        <a href="#system-message-delete-{{ message.id }}" role="button" class="btn btn-danger announcement-delete-btn" title="delete" data-toggle="modal" data-target="#system-message-delete-{{ message.id }}">
          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}

{% block body_extras %}
{{ super() }}

<div id="system-message-new" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <form method="POST" action="{% url_for 'announcements.create' %}">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>New Announcement</h3>
      </div>

      <div class="modal-body">
        
          <textarea name="message"></textarea>
          <div style="max-height: 400px; overflow-y: scroll;">
            <h4>Scope</h4>
            <ul>
              <li>From: <input name="from_date" type="datetime-local" /></li>
              <li>To: <input name="to_date" type="datetime-local" /></li>
            </ul>
          </div>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn" aria-hidden="true">Schedule message</button>
      </div>
    </form>
    </div>

  </div>
</div>


{% for message in messages %}

<div id="system-message-edit-{{ message.id }}" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Message data</h3>
      </div>

      <div class="modal-body">
        <p>{{ message.message }}</p>
        <p>Status <b>{{ message.status }}</b></p>
        <div style="max-height: 400px; overflow-y: scroll;">
          <h4>Scope</h4>
          <ul>
            <li>From: <b>{{ message.from_date }}</b></li>
            <li>To: <b>{{ message.to_date }}</b></li>
          </ul>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Done</button>
      </div>

    </div>

  </div>
</div>


<div id="system-message-delete-{{ message.id }}" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Are you sure you want to delete?</h3>
      </div>

      <div class="modal-body">
        <p>{{ message.message }}</p>
        <p>Status <b>{{ message.status }}</b></p>
        <div style="max-height: 400px; overflow-y: scroll;">
          <h4>Scope</h4>
          <ul>
            <li>From: <b>{{ message.from_date }}</b></li>
            <li>To: <b>{{ message.to_date }}</b></li>
          </ul>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Delete</button>
      </div>

    </div>

  </div>
</div>

{% endfor %}

{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="fa fa-history"></i>
    {{ _('Announcement to all users') }}
  </h2>
  <div class="module-content">
    {# allow to define start and end dates for a custom message #}
  </div>
</div>
{% endblock %}
