/*
Public
*/

.announcements-container {
  padding-top: 10px;
}

.announcement {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/*
Private
*/
#new-announcement {
    text-align: right;
    margin-bottom: 7px;
}

.announcement-edit-btn, .announcement-delete-btn {
    margin: 3px;
}

.announcement-msg-column {
    width: 50%;
}
