/*
Public
*/

.announcements-container {
  padding-top: 10px;
}

.announcement {
  display: none; /* All is hide until is not hide */
  padding-bottom: 20px;
  margin-bottom: 10px;
}

/*
Private
*/
#new-announcement {
    text-align: right;
    margin-bottom: 7px;
}

.announcement-edit-btn, .announcement-delete-btn {
    margin: 3px;
}

.announcement-msg-column {
    width: 50%;
}

.announcement-form-error {
    color: rgb(115, 8, 8);
    width: 100%;
    background-color: #ff000022;
    font-weight: bold;
    display: none;
    padding: 7px;
    margin: 7px;
}

/* We don't expect to need this */
.modal-backdrop {
  z-index: 0 !important;
  background-color: #00000000;
}
